#                              `MODULE 1`

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

In [1]:
#import os
import datetime
import pandas as pd
import numpy as np
#path='E:\internship\Extracted'
#os.chdir(path)

### `Query 1.1` 
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [2]:
df=pd.read_csv('Mahindra.csv')
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,M&amp;M,EQ,15-May-2017,1367.85,1373.0,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27
1,M&amp;M,EQ,16-May-2017,1375.65,1377.0,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82
2,M&amp;M,EQ,17-May-2017,1366.35,1363.0,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89
3,M&amp;M,EQ,18-May-2017,1378.80,1369.0,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70
4,M&amp;M,EQ,19-May-2017,1352.85,1350.0,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20

In [3]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,497.000000,4.970000e+02,4.970000e+02,497.000000,4.970000e+02,497.000000
mean,966.149598,966.516499,975.889738,954.549497,964.158350,964.412274,965.389376,2.397160e+06,2.079844e+09,66055.925553,1.347946e+06,58.058873
std,284.658298,284.798648,287.100326,283.198182,284.614102,284.696773,285.304011,1.644065e+06,1.255713e+09,37116.836086,9.033243e+05,12.069167
min,621.650000,620.900000,627.550000,615.000000,616.900000,617.600000,621.360000,1.751950e+05,1.513228e+08,1.000000,0.000000e+00,0.000000
25%,741.550000,743.400000,750.000000,731.200000,741.200000,740.950000,741.700000,1.288969e+06,1.296942e+09,39654.000000,7.330670e+05,50.070000
50%,857.700000,859.900000,868.500000,848.850000,854.500000,856.500000,858.070000,2.034516e+06,1.774446e+09,58651.000000,1.123090e+06,58.790000
75%,1328.300000,1331.500000,1341.950000,1313.450000,1326.350000,1327.500000,1324.900000,3.007579e+06,2.460003e+09,82032.000000,1.682898e+06,65.640000
max,1556.300000,1560.000000,1571.400000,1533.100000,1550.400000,1556.300000,1557.090000,1.108417e+07,8.737215e+09,253657.000000,5.426021e+06,100.000000

In [4]:
df.drop(df[df['Series']!='EQ'].index,inplace=True)
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
492,M&amp;M,EQ,07-May-2019,638.50,641.75,642.90,634.2,635.55,636.00,637.64,3160875,2.015496e+09,72445,2366596,74.87
493,M&amp;M,EQ,08-May-2019,636.00,635.55,637.00,619.0,624.60,621.65,631.73,3853705,2.434492e+09,51461,3092701,80.25
494,M&amp;M,EQ,09-May-2019,621.65,620.90,627.95,616.1,625.80,625.45,621.74,1366143,8.493796e+08,52412,538598,39.42
495,M&amp;M,EQ,10-May-2019,625.45,626.25,631.85,619.0,625.85,628.75,624.59,2093110,1.307326e+09,55778,1074491,51.33
496,M&amp;M,EQ,13-May-2019,628.75,628.70,628.70,615.0,616.90,617.60,621.36,1463136,9.091296e+08,43320,896064,61.24

### `Query 1.2`

Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [5]:
#data of last 90 days

df1=df.iloc[-1:-91:-1]
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
496,M&amp;M,EQ,13-May-2019,628.75,628.70,628.70,615.0,616.90,617.60,621.36,1463136,9.091296e+08,43320,896064,61.24
495,M&amp;M,EQ,10-May-2019,625.45,626.25,631.85,619.0,625.85,628.75,624.59,2093110,1.307326e+09,55778,1074491,51.33
494,M&amp;M,EQ,09-May-2019,621.65,620.90,627.95,616.1,625.80,625.45,621.74,1366143,8.493796e+08,52412,538598,39.42
493,M&amp;M,EQ,08-May-2019,636.00,635.55,637.00,619.0,624.60,621.65,631.73,3853705,2.434492e+09,51461,3092701,80.25
492,M&amp;M,EQ,07-May-2019,638.50,641.75,642.90,634.2,635.55,636.00,637.64,3160875,2.015496e+09,72445,2366596,74.87

In [6]:
print("Mean     ",df1['Close Price'].mean())
print("Maximum  ",df1['Close Price'].max())
print("Minimum  ",df1['Close Price'].min())

Mean      676.8238888888892
Maximum   803.85
Minimum   617.6

### `Query 1.3`
Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [7]:
# dtypes for each column of the dataframe
df.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [8]:
#Changing the date column from 'object' type to 'datetime64(ns)
df['Date']=pd.to_datetime(df['Date'])
df['Date'].head()

0   2017-05-15
1   2017-05-16
2   2017-05-17
3   2017-05-18
4   2017-05-19
Name: Date, dtype: datetime64[ns]

In [9]:
df['Date'].dtypes

dtype('<M8[ns]')

In [10]:
#subtracting the minimum value of the date column from the maximum value.
min(df['Date'])-max(df['Date'])

Timedelta('-728 days +00:00:00')

### `Query 1.4`
In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock.
( VWAP = sum(price*volume)/sum(volume) )
To know more about VWAP , visit - VWAP definition
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [11]:
df['Month']=pd.DatetimeIndex(df['Date']).month
df['Year']=pd.DatetimeIndex(df['Date']).year
df['VWAP'] = (df['Close Price'] * df['Total Traded Quantity']).cumsum()/df['Total Traded Quantity'].fillna(0).cumsum()
df_vwap = df[['Month','Year','VWAP']]
group = df_vwap.groupby(['Month','Year'])
group.first().head(10)

                   VWAP
Month Year
1     2018  1308.899245
      2019   940.695677
2     2018  1205.692082
      2019   917.575168
3     2018  1139.526950
      2019   897.083384
4     2018  1088.806319
      2019   882.093361
5     2017  1375.650000
      2018  1053.713646

### `Query 1.5`
Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [12]:
def average(n):
    df1=df["Close Price"].iloc[-1:-(n+1):-1].mean()
    return df1
def profit_loss(N):
    change = (df['Close Price'].tail(N).iloc[N-1] - df['Close Price'].tail(N).iloc[0])
    if change < 0 :
        loss = -(change)
        loss_percen = (loss/df['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if change > 0 :
        profit = change
        profit_percen = (profit/df['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
df2=pd.DataFrame({'Average':[average(5),average(10),average(20),average(60),average(120),average(240)],'Profit Loss':[profit_loss(5),profit_loss(10),profit_loss(20),profit_loss(60),profit_loss(120),profit_loss(240)]},index=['Last 1 Week','Last 2 Weeks','Last 1 Months','Last 3 Months','Last 6 Months','Last 1 Year'])
df2.head()

                  Average  Profit Loss
Last 1 Week    625.890000     2.979275
Last 2 Weeks   636.440000     6.776231
Last 1 Months  655.700000     8.524935
Last 3 Months  658.683333     4.849417
Last 6 Months  697.943750    24.109456

### `Query 1.6`
Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [13]:
df[ 'Day_Perc_Change']=df['Close Price'].pct_change().fillna(0)
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,M&amp;M,EQ,2017-05-15,1367.85,1373.0,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27,5,2017,1375.650000,0.000000
1,M&amp;M,EQ,2017-05-16,1375.65,1377.0,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82,5,2017,1371.182580,-0.006760
2,M&amp;M,EQ,2017-05-17,1366.35,1363.0,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89,5,2017,1374.698599,0.009112
3,M&amp;M,EQ,2017-05-18,1378.80,1369.0,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70,5,2017,1366.416995,-0.018821
4,M&amp;M,EQ,2017-05-19,1352.85,1350.0,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20,5,2017,1358.719717,-0.014377

### `Query 1.7`
Add another column 'Trend' whose values are: 'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5 'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1 'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1 'Positive' for 'Day_Perc_Change' in between 1 and 3 'Negative' for 'Day_Perc_Change' in between -1 and -3 'Among top gainers' for 'Day_Perc_Change' in between 3 and 7 'Among top losers' for 'Day_Perc_Change' in between -3 and -7 'Bull run' for 'Day_Perc_Change' >7 'Bear drop' for 'Day_Perc_Change' <-7

In [14]:
df.loc[(df['Day_Perc_Change'] >= -0.5) & (df['Day_Perc_Change'] <= 0.5), 'Trend'] ="Slight or No change"
df.loc[(df['Day_Perc_Change'] >= 0.5) & (df['Day_Perc_Change'] <= 1), 'Trend'] ="Slight Positive"
df.loc[(df['Day_Perc_Change'] <= -0.5) & (df['Day_Perc_Change'] >= -1), 'Trend'] ="Slight Negative"
df.loc[(df['Day_Perc_Change'] >= 1) & (df['Day_Perc_Change'] <= 3), 'Trend'] ="Positive"

df.loc[(df['Day_Perc_Change'] <= -1) & (df['Day_Perc_Change'] >= -3), 'Trend'] ="Negative"
df.loc[(df['Day_Perc_Change'] >= 3) & (df['Day_Perc_Change'] <= 7), 'Trend'] ="Among top gainers"
df.loc[(df['Day_Perc_Change'] <= -3) & (df['Day_Perc_Change'] >= -7), 'Trend'] ="Among top losers"
df.loc[(df['Day_Perc_Change'] > 7), 'Trend'] ="Bull run"
df.loc[(df['Day_Perc_Change'] < -7), 'Trend'] ="Bear drop"
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,M&amp;M,EQ,2017-05-15,1367.85,1373.00,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27,5,2017,1375.650000,0.000000,Slight or No change
1,M&amp;M,EQ,2017-05-16,1375.65,1377.00,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82,5,2017,1371.182580,-0.006760,Slight or No change
2,M&amp;M,EQ,2017-05-17,1366.35,1363.00,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89,5,2017,1374.698599,0.009112,Slight or No change
3,M&amp;M,EQ,2017-05-18,1378.80,1369.00,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70,5,2017,1366.416995,-0.018821,Slight or No change
4,M&amp;M,EQ,2017-05-19,1352.85,1350.00,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20,5,2017,1358.719717,-0.014377,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,M&amp;M,EQ,2019-05-07,638.50,641.75,642.90,634.2,635.55,636.00,637.64,3160875,2.015496e+09,72445,2366596,74.87,5,2019,869.700268,-0.003915,Slight or No change
493,M&amp;M,EQ,2019-05-08,636.00,635.55,637.00,619.0,624.60,621.65,631.73,3853705,2.434492e+09,51461,3092701,80.25,5,2019,868.890521,-0.022563,Slight or No change
494,M&amp;M,EQ,2019-05-09,621.65,620.90,627.95,616.1,625.80,625.45,621.74,1366143,8.493796e+08,52412,538598,39.42,5,2019,868.609125,0.006113,Slight or No change
495,M&amp;M,EQ,2019-05-10,625.45,626.25,631.85,619.0,625.85,628.75,624.59,2093110,1.307326e+09,55778,1074491,51.33,5,2019,868.185083,0.005276,Slight or No change
496,M&amp;M,EQ,2019-05-13,628.75,628.70,628.70,615.0,616.90,617.60,621.36,1463136,9.091296e+08,43320,896064,61.24,5,2019,867.875795,-0.017734,Slight or No change

### `Query 1.8`
Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'. {Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [15]:
df.groupby(df.Trend).mean()['Total Traded Quantity']
df.groupby(df.Trend).median()['Total Traded Quantity']

Trend
Slight Negative        6803736
Slight or No change    2034516
Name: Total Traded Quantity, dtype: int64

### `Query 1.9`
SAVE the dataframe with the additional columns computed as a csv file week2.csv.